.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.map-content {
  width: 800px;
  height: 500px;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-box-container {
  position: absolute;
  z-index: 100;
  padding: 5px 0 0 5px;
}

.upload-label {
  font-weight: bold;
}

.upload-input {
  margin-top: 5px;
}

.description-label {
  font-weight: bold;
  margin-top: 15px;
}

.img-container img {
  width: 100%;
}

.carousel-img {
  height: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.5);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.visibility-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-label {
  margin-right: 10px;
}

.radio {
  margin-right: 5px;
}

.radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radio:checked {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.carousel-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.description {
  margin-top: 20px;
}

.description h2 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
}

.description p {
  font-size: 16px;
  color: #555;
}


.likes-comments {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

.likes, .comments {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: #555;
}

.comments {
  margin-left: 30px;
}

.likes span, .comments span {
  margin-right: 5px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-content button {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
