/* Existing styles... */

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.map-content {
  width: 1000px;
  height: 700px;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* locationInfo css */
.modal-content {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 1.5em;
  font-weight: 500;
}

form {
  margin: 20px 0;
}

input[type="file"], .description {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.description {
  height: 100px;
  resize: vertical;
}

.modal-footer {
  border-top: none;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}


.search-container {
  position: relative;
  width: 250px;
  margin: 20px auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.address-dropdown {
  position: absolute;
  top: 100%;  /* This will ensure the dropdown starts right after the input ends. */
  left: 0;   /* This will align the dropdown to the left edge of the input box. */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 4px;   /* A small space between the input and the dropdown */
}
