.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.map-content {
  width: 800px;
  height: 500px;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-box-container {
  position: absolute;
  z-index: 100;
  padding: 5px 0 0 5px;
}

.upload-label {
  font-weight: bold;
}

.upload-input {
  margin-top: 5px;
}

.description-label {
  font-weight: bold;
  margin-top: 15px;
}

.img-container img {
  width: 100%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.5); /* Adjust the brightness value to darken or lighten the arrows */
}

/* Optionally, you can add hover styles for a more interactive effect */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background color on hover */
}