.nostalgic-navbar {
    background-color: #FAF3DD;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nostalgic-navbar .navbar-brand, 
.nostalgic-navbar .nav-link {
    color: #3C3B3F !important;
}

.nostalgic-navbar .nav-link:hover {
    color: #E07A5F !important;
}
